[submodule "bluetooth-autoconnect"]
	path = bluetooth-autoconnect
	url = git@github.com:ThisisRito/bluetooth-autoconnect.git
[submodule "sao-assets"]
	path = sao-assets
	url = git@github.com:ThisisRito/sao-assets.git
